.navbar__background {
  background-color: #af3190;
}

.nav-link {
  color: white;
}

.main__principal {
  padding: 70px 20px;
}

.main__principal__wrapper-title {
  color: #af3190;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.main__principal__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.nosotros {
  background-color: #fdf6ee;
  padding: 70px 20px;
}

.nosotros__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.nosotros__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.servicios {
  padding: 70px 20px;
}

.servicios__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.servicios__wrapper-subtitle {
  color: #af3190;
  font-style: normal;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
  padding-top: 20px;
}

.servicios__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
}

.proyectos {
  background-color: #fdf6ee;
  padding: 30px 20px;
}

.proyectos__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.proyectos__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.contacto {
  padding: 30px 20px;
}

.contacto__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.contacto__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

footer {
  padding: 50px;
  background-color: #e87d0e;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

footer img {
  width: 50%;
  margin-bottom: 20px;
}

.nosotrospage {
  background-color: #fdf6ee;
  padding: 70px 20px;
}

.nosotrospage__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.nosotrospage__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.serviciospage {
  padding: 90px 20px;
}

.serviciospage__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.serviciospage__wrapper-subtitle {
  color: #af3190;
  font-style: normal;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
  padding-top: 20px;
}

.serviciospage__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
}

.serviciosdetalle {
  background-color: #fdf6ee;
  padding: 70px 20px;
}

.proyectospage {
  background-color: #fdf6ee;
  padding: 90px 20px;
}

.proyectospage__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.proyectospage__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.contactopage {
  background-color: #fdf6ee;
  padding: 90px 20px;
}

.contactopage__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.contactopage__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.formulario {
  padding: 30px 20px;
}


.formulario__wrapper-title {
  color: #e87d0e;
  font-style: normal;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.formulario__wrapper-paragraph {
  color: #000000;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
}



@media (min-width: 992px) {
  .main__principal {
    height: 100vh;
  }

  .nosotros {
padding: 70px 100px;  }

.servicios {
  padding: 70px 100px;  }

  footer img {
    width: 20%;
    margin-bottom: 20px;
  }

  .proyectospage {
    padding: 90px;
  }

  .contactopage {
    padding: 30px;
  }
}